<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block "title" %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <style>
        .custom-background {
            background-image: url("{% static 'background/Background.jpg' %}");
            background-size: calc(60% + 6%);
            background-position: center;
            background-repeat: no-repeat;
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            min-height: 30vh;
        }

        .custom-heading {
            text-align: bottom;
            color: #2DAB98 ;
            margin-bottom: 10px;
            margin-top: 20px;
            padding-left: 50px;

    </style>

<div class="custom-background">
    <h1 class="custom-heading">WORKOUT NOTES</h1>
</div>

</head>

<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
             <ul class="navbar-nav">

            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'workouts' %}" style="font-family: Georgia; font-size: 18px;">Workouts</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'exercises' %}" style="font-family: Georgia; font-size: 18px;">Exercises</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'workout_summary_calendar' year=2023 %}" style="font-family: Georgia; font-size: 18px;">Workout Calendar</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'personal_records_by_weight' %}" style="font-family: Georgia; font-size: 18px;">PR by WEIGHT</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'personal_records_by_reps' %}" style="font-family: Georgia; font-size: 18px;">PR by REPS</a></li>
            {% else %}

            <li class="nav-item"><a class="nav-link mx-auto" href="{% url 'index' %}" style="font-family: Georgia; font-size: 18px;">Home</a></li>
            <li class="nav-item"><a class="nav-link mx-auto" href="{% url 'login' %}?next=/journal" style="font-family: Georgia; font-size: 18px;">Login</a></li>
            <li class="nav-item"><a class="nav-link mx-auto" href="{% url 'register' %}?next={{request.path}}" style="font-family: Georgia; font-size: 18px;">Sign Up</a></li>
            {% endif %}

        </ul>

        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link disabled" href="#">
                    <div class="navbar-image-cropper">
                        <img class="rounded-circle account-img" src="{{ user.profile.photo.url }}" style="width: 40px; height: 40px;">
                    </div>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsername" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <strong style="font-family: Georgia; font-size: 15px;"> {{ user.get_username }}</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUsername">
                    <li><a class="dropdown-item" href="{% url 'profile' %}" style="font-family: Georgia; font-size: 16px;">Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'index' %}" style="font-family: Georgia; font-size: 16px;">Home</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}?next=/journal" style="font-family: Georgia; font-size: 16px;">Logout</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>



{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'info' %}success{% endif %}" role="alert">
                {{ message }}
        </div>
    {% endfor %}
{% endif %}

<br>
<div class="container">
    {% block "content" %}{% endblock%}
</div>

<div class="mt-5 p-4 bg-dark text-white text-center">
    <p class="text-muted">Do not forget to write notes</p>
</div>


</body>
</html>