{% extends "base.html" %}

{% block "title" %}Delete Workout{% endblock %}

{% block "content" %}

<style>
    .custom-titles-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(1vh - 1px);
        background-color: #F4F4F4;
    }

    .custom-titles-heading {
        text-align: center;
        font-family: Times New Roman, serif;
        font-size: 35px;
        color: #AB982D;
    }
</style>


<div class="custom-titles-container">
    <h2>
        <strong class="custom-titles-heading">Delete Exercise</strong>
    </h2>
</div>
<br>

<p>Are you sure you want to delete the exercise: <strong>{{ exercise.get_name }}</strong>?</p>
<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">Delete</button>
    <a href="{% url 'workout' exercise.workout.id %}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}
