{% extends "base.html" %}

{% block "title" %}Edit Exercise{% endblock %}

{% block "content" %}


<style>
    .custom-titles-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(1vh - 1px);
    }

    .custom-titles-heading {
        text-align: center;
        font-family: Times New Roman, serif;
        font-size: 35px;
        color: #709C8A;
    }
</style>


<div class="custom-titles-container">
    <h2>
        <strong class="custom-titles-heading">Edit Exercise</strong>
    </h2>
</div>

<form method="post">
  {% csrf_token %}
  <label for="weight">Weight:</label>
  <input type="text" id="weight" name="weight" value="{{ exercise.weight }}">

  <label for="set">Set:</label>
  <input type="text" id="set" name="set" value="{{ exercise.set }}">

  <label for="rep">Rep:</label>
  <input type="text" id="rep" name="rep" value="{{ exercise.rep }}">

  <br><br>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}
