{% extends "base.html" %}

{% block "title" %}Exercise Workouts{% endblock %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

{% block "content" %}
{% load static %}

<div class="custom-titles-container">
    <h2>
        {% if exercise_name.pic %}
        <img src="{{ exercise_name.pic.url }}" style="margin-bottom: 10px; max-width: 10%">
        {% else %}
        <img src="{% static 'img/no-exercise-image.png' %}" class="card-img-top" style="width:60px;height:60px;">
        {% endif %}
        <strong class="custom-titles-heading">{{ exercise_name.name }} Information</strong>
    </h2>
</div>

<br>

<div class="flex-container">
    <a href="{% url 'exercises' %}" class="btn custom-btn-back">
        &larr; Back to Exercises
    </a> &nbsp; &nbsp; &nbsp;
    <form method="GET" action="{% url 'exercise_workouts' exercise_name.id %}" class="search-form">
        <div class="search-input">
            <input type="text" name="search" placeholder="Enter date or title" class="search-field">
            <button type="submit" class="search-button">Search</button>
        </div>
    </form>
</div>

<br>

<table class="table table-bordered table-striped" id="workout-table">
    <colgroup>
        <col style="width: 19%;">
        <col style="width: 15%;">
        <col style="width: 11%;">
        <col style="width: 9%;">
        <col style="width: 10%;">
        <col style="width: 11%;">
        <col style="width: 25%;">
    </colgroup>
    <thead class="table-dark">
    <tr>
        <th class="sortable" data-column="title">Workout Title<span class="sort-icon"></span></th>
        <th class="sortable" data-column="date">Workout Date<span class="sort-icon"></span></th>
        <th class="sortable" data-column="weight">Exercise Weight<span class="sort-icon"></span></th>
        <th class="sortable" data-column="set">Exercise Sets<span class="sort-icon"></span></th>
        <th class="sortable" data-column="rep">Exercise Reps<span class="sort-icon"></span></th>
        <th class="sortable" data-column="sum">Exercise Volume<span class="sort-icon"></span></th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    {% for workout, info in workout_info.items %}
    {% for exercise in info.exercises %}
    <tr>
        <td><a href="{% url 'workout' workout.id %}" class="link-style-table">{{ workout.title }}</a></td>
        <td class="table-numbers">{{ workout.date|date:'Y-m-d' }}</td>
        <td class="table-numbers">{{ exercise.weight|stringformat:".2f" }} kg</td>
        <td class="table-numbers">{{ exercise.set }} sets</td>
        <td class="table-numbers">{{ exercise.rep }} reps</td>
        <td class="table-numbers">{{ exercise.sum|stringformat:".2f" }} kg</td>
        <td style="max-width: 300px; overflow: auto; font-style: italic; font-size: smaller">{{ exercise.notes }}</td>
    </tr>
    {% endfor %}
    {% empty %}
    <tr>
        <td colspan="7">No workouts found.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if workouts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ workouts.previous_page_number }}">previous</a>
        {% endif %}

        {% for num in workouts.paginator.page_range %}
            {% if num == workouts.number %}
                <span class="current-page">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if workouts.has_next %}
            <a href="?page={{ workouts.next_page_number }}">next</a>
            <a href="?page={{ workouts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<script src="{% static 'js/sort-table.js' %}"></script>

<style>
.sort-icon {
    display: inline;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-bottom: -2px;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: red;
}

.custom-titles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(1vh - 1px);
    background-color: #F4F4F4;
}

.custom-titles-heading {
    text-align: center;
    font-family: Times New Roman, serif;
    font-size: 35px;
    color: #AB982D;
}

.search-form {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.search-input {
    margin-right: 10px;
}

.search-field {
    padding: 3px 25px;
    border: 1px solid #657d86;
    border-radius: 2px;
    font-style: italic;
    font-size: smaller;
    margin-right: 5px;
}

.search-button {
    padding: 3px 6px;
    background-color: #DFDCDB;
    border: none;
    color: black;
    border-radius: 2px;
    cursor: pointer;
}

.table-numbers {
    text-align: center;
    vertical-align: middle;
    font-family: Times New Roman, serif;
    font-size: 18px;
}

.link-style-table {
    color: #917143;
    font-weight: bold;
    font-family: Times New Roman, serif;
    font-size: 18px;
    vertical-align: middle;
}

.link-style-table:hover {
    color: #5b472a;
}

.custom-btn-back {
    background-color: #877203;
    border-color: #877203;
    color: white;
    margin-right: 10px;
}

.custom-btn-back:hover {
    background-color: #675702;
}

.flex-container {
    display: flex;
    align-items: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: Times New Roman, serif;
}

.pagination a,
.pagination .current-page {
    color: #000;
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #f5f5f5;
}

.pagination .current-page {
    background-color: #000;
    color: #fff;
}

.pagination .disabled-link {
    color: #999;
    pointer-events: none;
    cursor: default;
}
</style>

{% endblock %}
