{% extends "base.html" %}

{% block "title" %}Exercises{% endblock %}

{% block "content" %}

{% load static %}

<h1>Exercises list:</h1>
{% if exercises %}
<div class="row">
  {% for exercise_group in exercises %}
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card mb-4 shadow-sm">
        {% with exercise=exercise_group.0 %}
          {% if exercise.pic %}
            <img src="{{ exercise.pic.url }}" class="card-img-top" alt="...">
          {% else %}
            <img src="{% static 'img/no-image.png' %}" class="card-img-top">
          {% endif %}
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{ exercise.exercise_name }}</h6>
          <a href="{% url 'exercise_workouts' exercise.exercise_name %}">View Details</a>
          </div>
        {% endwith %}
      </div>
    </div>
  {% endfor %}
</div>
{% else %}
<p>There is no history of exercises</p>
{% endif %}

{% endblock %}
