{% extends "base.html" %}

{% block "title" %}Personal Records by Reps{% endblock %}

{% block "content" %}

{% load static %}

<div class="custom-titles-container">
    <h2>
        <strong class="custom-titles-heading">Personal Records on Reps</strong>
    </h2>
</div>

<br>

<div style="display: flex; justify-content: space-between;">
    <form method="GET" action="{% url 'personal_records_by_reps' %}" class="search-form">
        <div class="search-input">
            <input type="text" name="query" placeholder="Enter exercise name" value="{{ query }}" class="search-field">
        </div>
        <div>
            <button type="submit" class="search-button">Search</button>
        </div>
    </form>
</div>

<br>

<table class="table table-bordered">
    <colgroup>
        <col style="width: 22%;">
        <col style="width: 17%;">
        <col style="width: 14%;">
        <col style="width: 10%;">
        <col style="width: 8%;">
        <col style="width: 9%;">
        <col style="width: 10%;">
    </colgroup>
    <thead class="table-dark">
    <tr>
        <th>Exercise Name</th>
        <th>Workout Title</th>
        <th>Workout Date</th>
        <th>Exercise Weight</th>
        <th>Exercise Sets</th>
        <th>Exercise Reps</th>
        <th>Exercise Volume</th>
    </tr>
    </thead>
    <tbody>
    {% for exercise_name, workouts in top_rep_workouts.items %}
    <tr class="{% cycle 'exercise-color1' 'exercise-color2' as row_color %}"></tr>
    <tr class="separator-row">
        <td colspan="7"></td>
    </tr>
    {% for workout, exercise in workouts %}
    {% if exercise.exercise_name.name == exercise_name %}
    <tr class="{{ row_color }}" style="height:70px;">
        <td style="vertical-align: middle;"><a href="{% url 'exercise_workouts' exercise.exercise_name.id %}" class="link-style-table">
          {{ exercise.exercise_name.name }}</a></td>
        <td style="vertical-align: middle;"><a href="{% url 'workout' workout.id %}" class="link-style-table">{{ workout.title }}</a></td>
        <td class="table-numbers">{{ workout.date|date:'Y-m-d' }}</td>
        <td class="table-numbers">{{ exercise.weight|stringformat:".2f" }} kg</td>
        <td class="table-numbers">{{ exercise.set }} sets</td>
        <td class="table-numbers-reps">{{ exercise.rep }} reps</td>
        <td class="table-numbers">{{ exercise.sum|stringformat:".2f" }} kg</td>
    </tr>
    {% endif %}
    {% empty %}
    <tr>
        <td colspan="7">No workouts found.</td>
    </tr>
    {% endfor %}
    {% empty %}
    <tr>
        <td colspan="7">No workouts found.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <span class="current-page">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<style>
.separator-row {
    background-color: #e5e5e7;
    height: 0;
}

.exercise-color1 {
    background-color: #C5C3D8;
}

.exercise-color2 {
    background-color: #D8C3CB;
}

.table-numbers {
    text-align: center;
    vertical-align: middle;
    font-family: Times New Roman, serif;
    font-size: 18px;
}

.table-numbers-reps {
    text-align: center;
    vertical-align: middle;
    font-family: Times New Roman, serif;
    font-size: 22px;
    font-weight: bold;
}

.custom-titles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(1vh - 1px);
    background-color: #F4F4F4;
}

.custom-titles-heading {
    text-align: center;
    font-family: Times New Roman, serif;
    font-size: 35px;
    color: #AB982D;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.search-input {
    margin-right: 10px;
}

.search-field {
    padding: 3px 25px;
    border: 1px solid #657d86;
    border-radius: 2px;
    font-style: italic;
    font-size: smaller;
}

.search-button {
    padding: 3px 6px;
    background-color: #DFDCDB;
    border: none;
    color: black;
    border-radius: 2px;
    cursor: pointer;
}

.link-style-table {
    color: #5d004b;
    font-weight: bold;
    font-family: Times New Roman, serif;
    font-size: 18px;
}

.link-style-table:hover {
    color: #320029;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: Times New Roman, serif;
}

.pagination a,
.pagination .current-page {
    color: #000;
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #f5f5f5;
}

.pagination .current-page {
    background-color: #000;
    color: #fff;
}

.pagination .disabled-link {
    color: #999;
    pointer-events: none;
    cursor: default;
}
</style>

{% endblock %}
