{% extends "base.html" %}

{% block "title" %}Personal Records by Weight{% endblock %}

{% block "content" %}

{% load static %}

<div class="custom-titles-container">
    <h2>
        <strong class="custom-titles-heading">Personal Records by Weight List</strong>
    </h2>
</div>


<br>
<form method="GET" action="{% url 'personal_records_by_weight' %}">
  <input type="text" name="query" placeholder="Enter exercise name" value="{{ query }}">
  <button type="submit">Search</button>
</form>
<br>

<table class="table table-bordered table-striped">
  <colgroup>
    <col style="width: 22%;">
    <col style="width: 17%;">
    <col style="width: 14%;">
    <col style="width: 10%;">
    <col style="width: 8%;">
    <col style="width: 9%;">
    <col style="width: 10%;">
  </colgroup>
  <thead class="table-dark">
    <tr>
      <th>Exercise Name</th>
      <th>Workout Title</th>
      <th>Workout Date</th>
      <th>Exercise Weight</th>
      <th>Exercise Sets</th>
      <th>Exercise Reps</th>
      <th>Exercise Volume</th>
    </tr>
  </thead>
  <tbody>
    {% for exercise_name, workouts in top_weight_workouts.items %}
      {% for workout, exercise in workouts %}
        <tr>
          <td><a href="{% url 'exercise_workouts' exercise.exercise_name.id %}">{{ exercise_name }}</a></td>
          <td><a href="{% url 'workout' workout.id %}">{{ workout.title }}</a></td>
          <td>{{ workout.date|date:'Y-m-d' }}</td>
          <td>{{ exercise.weight|stringformat:".2f" }} kg</td>
          <td>{{ exercise.set }} sets</td>
          <td>{{ exercise.rep }} reps</td>
          <td>{{ exercise.sum|stringformat:".2f" }} kg</td>
        </tr>
      {% empty %}
    {% if workouts %}
        <tr>
          <td colspan="7">No workouts found.</td>
        </tr>
    {% endif %}
      {% endfor %}
    {% empty %}
      <tr>
        <td colspan="7">No workouts found.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<style>
    .custom-titles-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(1vh - 1px);
        background-color: #F4F4F4;
    }

    .custom-titles-heading {
        text-align: center;
        font-family: Times New Roman, serif;
        font-size: 35px;
        color: #AB982D;
    }
</style>

{% endblock %}
