{% extends "base.html" %}

{% block "title" %}Profile{% endblock %}

{% load crispy_forms_tags %}

{% block "content" %}

<style>
    .custom-legend {
        font-family: Times New Roman, serif;
        font-size: 24px;
        color: #AB982D;
        padding-bottom: 1px;
        margin-bottom: 1px;
    }

    .custom-line {
        border: none;
        border-top: 4px solid #2D40AB;
        margin: 0;
    }
</style>

    <div class="content-section">
      <div class="media">


          <style>
.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
</style>
<img src="{{ user.profile.photo.url }}" class="image-cropper">

          <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="custom-legend">Profile Info</legend>
            <hr class="custom-line">
            <br>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock %}
