{% extends "base.html" %}

{% block "title" %}Profile{% endblock %}

{% load crispy_forms_tags %}

{% block "content" %}

<div class="content-section">
    <div class="media">
        <img src="{{ user.profile.photo.url }}" class="image-cropper">

        <div class="media-body">
            <h2 class="account-heading custom-font">{{ user.username }}</h2>
            <p class="text-secondary custom-font">{{ user.email }}</p>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data" class="profile-form">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="custom-legend">Profile Info</legend>
            <hr class="custom-line">
            <br>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn custom-btn-edit" type="submit">Update</button>
        </div>
    </form>
</div>

<style>
.content-section {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.media {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.image-cropper {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.account-heading {
  font-size: 24px;
  margin: 0;
}

.text-secondary {
  margin: 0;
  color: #999;
}

.profile-form {
  margin-top: 20px;
}

.custom-legend {
  font-family: Times New Roman, serif;
  font-size: 24px;
  color: #AB982D;
  padding-bottom: 1px;
  margin-bottom: 1px;
}

.custom-line {
  border: none;
  border-top: 4px solid #2D40AB;
  margin: 0;
}

.custom-btn-edit {
  background-color: #899EA6;
  border-color: #899EA6;
  color: white;
}

.custom-btn-edit:hover {
  background-color: #899EA6;
}
</style>

{% endblock %}
