{% extends "base.html" %}

{% block "title" %}Workout{% endblock %}

{% block "content" %}


    <div>
<ul>
   <li><strong>Workout Title - </strong>{{ workout.title }}</li>
   <li><strong>Workout Date - </strong>{{ workout.date|date:'Y-m-d' }}</li>
   <li><strong>Workout Notes - </strong>{{ workout.notes }}</li>
</ul>
    <hr>
<h1>Completed exercises in workout:</h1>
<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>Exercise Name</th>
      <th>Exercise Weight</th>
      <th>Exercise Sets</th>
      <th>Exercise Reps</th>
      <th>Notes</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for exercise in workout.exercises.all %}
      <tr>
        <td>
        <a href="{% url 'exercise_workouts' exercise.exercise_name.id %}">{{ exercise.get_name }}</a>
      </td>
        <td>{{ exercise.weight|stringformat:".2f"  }} kg</td>
        <td>{{ exercise.set }} sets</td>
        <td>{{ exercise.rep }} reps</td>
        <td>{{ exercise.notes }}</td>
        <td>
          <a href="{% url 'edit_exercise' exercise.id %}" class="btn btn-secondary">Edit</a>
        </td>
        <td>
          <a href="{% url 'delete_exercise' exercise.id %}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

        <br>
        <a href="{% url 'add_exercise' workout.id %}" class="btn btn-primary">Add Exercise</a>
    </div>


{% endblock %}

