{% extends "base.html" %}

{% block "title" %}Workouts{% endblock %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

{% block "content" %}

{% load static %}

<div class="custom-titles-container">
    <h2>
        <strong class="custom-titles-heading">Workouts List</strong>
    </h2>
</div>


<br>
<div style="display: flex; justify-content: space-between;">
<form method="GET" action="{% url 'workouts' %}" class="search-form">
    <div class="search-input">
  <input type="text" name="query" placeholder="Enter date or title" value="{{ query }}" class="search-field">
  </div>
    <div>
        <button type="submit" class="search-button">Search</button>
        </div>
</form>
    <div>
    <a href="{% url 'add_workout' %}" class="btn custom-btn-add">Add Workout</a>
</div>
</div>
<br>

<table class="table table-bordered table-striped">
    <colgroup>
        <col style="width: 28%;">
        <col style="width: 25%;">
        <col style="width: 37%;">
        <col style="width: 4%;">
        <col style="width: 6%;">
    </colgroup>
    <thead class="table-dark">
    <tr>
        <th class="sortable" data-column="title">Workout Title<span class="sort-icon"></span></th>
        <th class="sortable" data-column="date">Workout Date<span class="sort-icon"></span></th>
        <th>Notes</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for workout in workouts %}
    <tr>
        <td><a href="{% url 'workout' workout.id %}" class="link-style-table">{{ workout.title }}</a></td>
        <td>{{ workout.date|date:'Y-m-d' }}</td>
        <td style="max-width: 300px; overflow: auto; font-style: italic; font-size: smaller;">{{ workout.notes }}</td>
        <td><a href="{% url 'edit_workout' workout.id %}" class="btn custom-btn-edit">Edit</a></td>
        <td><a href="{% url 'delete_workout' workout.id %}" class="btn custom-btn-delete">Delete</a></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">No workouts found.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script src="{% static 'js/sort-workouts_table.js' %}"></script>

<style>
    .custom-titles-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(1vh - 1px);
        background-color: #F4F4F4;
    }

    .custom-titles-heading {
        text-align: center;
        font-family: Times New Roman, serif;
        font-size: 35px;
        color: #AB982D;
    }

    .sort-icon {
  display: inline;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-bottom: -2px;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  color: red;
}

    .custom-btn-add {
  background-color: #7B91C6;
  border-color: #7B91C6;
  color: white;
    }
    .custom-btn-add:hover {
  background-color: #7B91C6;
}

    .custom-btn-delete {
  background-color: #D0544E;
  border-color: #D0544E;
  color: white;
    }
    .custom-btn-delete:hover {
  background-color: #D0544E;
}

    .custom-btn-edit {
  background-color: #899EA6;
  border-color: #899EA6;
  color: white;
    }
    .custom-btn-edit:hover {
  background-color: #899EA6;
}

    .search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .search-input {
    margin-right: 10px;
  }

  .search-field {
      padding: 3px 25px;
      border: 1px solid #657d86;
      border-radius: 2px;
    }

    .search-button {
      padding: 3px 6px;
      background-color: #DFDCDB;
      border: none;
      color: black;
      border-radius: 2px;
      cursor: pointer;
    }

    .link-style-table {
  color: #917143;
  font-weight: bold;
  }

  .link-style-table:hover {
  color: #5b472a;
}

</style>

{% endblock %}
