{% extends "base.html" %}

{% block "title" %}Workout Calendar {{ calendar_months.0.year }}{% endblock %}

{% block "content" %}


<h1>Workout Calendar {{ calendar_months.0.year }}</h1>

<div class="calendar-grid">
{% for month in calendar_months %}
  <div class="calendar-month">
  <h4>{{ month.month }}</h4>
  <table>
    <thead>

      <tr>
        <th class="weekday">Mon</th>
        <th class="weekday">Tue</th>
        <th class="weekday">Wed</th>
        <th class="weekday">Thu</th>
        <th class="weekday">Fri</th>
        <th class="weekday">Sat</th>
        <th class="weekday">Sun</th>
      </tr>
    </thead>
    <tbody>
      {% for row in month.rows %}
        <tr>
          {% for day, is_marked in row %}
            <td class="day-cell">
              {% if is_marked %}
                <a href="{% url 'workouts' %}?date={{ month.year }}-{{ month.month }}-{{ day }}">{{ day }}</a>
              {% else %}
                {{ day }}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
    </div>
{% endfor %}
</div>

<style>
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }

  .calendar-month {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }

  .calendar-month h4 {
    margin: 0;
    background-color: black;
    color: white;
    padding: 10px;
  }

  .weekday {
    background-color: #f2f2f2;
  }

  .weekday {
    background-color: #f2f2f2;
  }

  .day-cell {
    text-align: center;
    padding: 5px;
  }

</style>

{% endblock %}